<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    { js assets/js/require.min.js }

    <!-- Dashboard Core -->
    { css assets/css/dashboard.css }
    { js assets/js/dashboard.js }
    <!-- c3.js Charts Plugin -->
    <link href="../assets/plugins/charts-c3/plugin.css" rel="stylesheet"/>
    <script src="../assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="../assets/plugins/maps-google/plugin.css" rel="stylesheet"/>
    <script src="../assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="../assets/plugins/input-mask/plugin.js"></script>
    <title>{ :title }</title>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        { include("views/includes/sidebar.html") }
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="card card-collapse">
                            <div class="card-status card-status-left bg-{ :node.status }"></div>
                            <div class="card-header">
                                <h3 class="card-title"><a href="node/{ :node.ID }">{ :node.IP }</a></h3>
                                <div class="card-options">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                            class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i
                                            class="fe fe-x"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p><b>IP: </b>{ :node.IP }</p>
                                <p><b>Status: </b>{ :node.status_m }</p>
                                <p><b>Instances: </b>{ :node.instances }</p>
                                <p><b>CPU: </b> { :node.CPU }</p>
                                <p><b>RAM: </b> { :node.RAM }</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    { include("views/includes/footer.html") }
</div>
</body>
</html>